// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
// Ivision theme styles added here 
// ____________________________________



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        font-size: 15px;
    }

}

//
//  Navigation
//  _____________________________________________


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    body {
        font-size: 14px;
    }
    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    

}