//
// header less variables here 
//

@header__background-color: #fff;
@header-panel__background-color: #505050;
@header-panel__text-color: @color-white;
@header-panel__layout-width: 100%;
@header-content__layout-width: 100%;
@panellink-icon__middle-space: 10px;
@header-layout__padding: 0 2rem;
@search-box__width: 353px;
@search-inputbox_background-color: #f0f0f0;
@search-iconbox_background-color: #f0f0f0;
@search-inputbox_text-color: #afafaf;
@minicart-counter__background-color: #5989ff;
@header-bottom__bar-background: #dedede;
@header-bottom__bar-text-color: #291303;
@menu-text__color: #101010;
@menu-middle__space: 0 15px;
@menu-dropdown__width: 1200px;
@mega-dropdown__background-color: #fff;
@submenu-title__text-color: #1f1f1f;
@submenu-link__text-color: #818181;
@submenu-link__text-hover-color: #5989ff;





//
//  Common
//  _____________________________________________
body {
    overflow-x: hidden;
}


.page-wrapper{
	.page-header {
        .lib-css(background-color, @header__background-color);
        
        /***** header panel wrapper style here *********/

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .panel.header{
            	max-width: @header-panel__layout-width;
                padding: @header-layout__padding;
                text-align: initial;
            	.panel-links{
            		float: right;
            		list-style: none;
                    margin-bottom: 0px;
            		li{
                        .lib-css(color, @header-panel__text-color);
	            		float:left;
	            		margin-left: 25px;
                        margin-bottom: 0px;
	            		
	            		a{
	            			.lib-css(color, @header-panel__text-color);

                            .link-icon {
                                margin: @panellink-icon__middle-space;
                            }
	            		}
	            	}
            	}
            	.switcher.currency{
            		float: right;
                    margin-left: 30px;
            		.options {
            			.action.toggle{
            				.lib-css(color, @header-panel__text-color);
            			}
            		}
            	}
            }
        }

        /******* header content wrapper style here **********/

        .header.content{
            max-width: @header-content__layout-width;
            padding: @header-layout__padding;
            padding-top: 23px;
            padding-bottom: 0px;
            
            .logo {
                margin: -30px auto 0 0;
            }
            .block-search{
                max-width: @search-box__width;
                width: 20%;
                float: right;
                margin-left: 0;
                .block-content {
                    .control {
                        input{
                            background: @search-inputbox_background-color;
                            color: @search-inputbox_text-color;
                            padding: 0px 0px 0px 20px;
                            height: 43px;
                            margin-top: -5px;
                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                              color: @search-inputbox_text-color;
                            }
                            &::-moz-placeholder { /* Firefox 19+ */
                              color: @search-inputbox_text-color;
                            }
                            &:-ms-input-placeholder { /* IE 10+ */
                              color: @search-inputbox_text-color;
                            }
                            &:-moz-placeholder { /* Firefox 18- */
                              color: @search-inputbox_text-color;
                            }
                        }
                    }
                    .actions {
                        .action.search{
                            background: @search-iconbox_background-color;
                            right: 2px;
                            height: 43px;
                            top: -5px;
                            border-radius: 0px;
                        }
                    }
                }
            }
            .minicart-wrapper{
                margin-right: 8px;
                .action.showcart {
                    .counter.qty{
                        width: 20px;
                        min-width: 20px;
                        height: 20px;
                        left: 18px;
                        top: -4px;
                        background: @minicart-counter__background-color;
                        line-height: 22px;
                    }
                }
            }

            > .header.links{
                float: right;
                padding: 0px;
                display: inline-block;
                margin: 0px 25px 0px 50px;
                width: 30px;
                .greet.welcome{
                    display: none;
                }
                .greet.welcome + .authorization-link{
                    a{
                        display: block;
                        background-color: transparent;
                        color: #fff;
                        font-size: 0px;
                        text-transform: uppercase;
                        background: url(../images/user.png) no-repeat;
                        height: 30px;
                        background-size: cover;
                        width: 25px;
                    }
                }
                .customer-welcome {
                    .customer-name{
                        span{
                            display: none;
                        }
                        .action.switch{
                            display: block;
                            background-color: transparent;
                            color: #fff;
                            font-size: 0px;
                            text-transform: uppercase;
                            background: url(../images/user.png) no-repeat;
                            height: 30px;
                            background-size: cover;
                            width: 25px;
                            &:after{
                                content:'';
                            }
                        }
                    }  
                    .customer-menu{
                        .header.links{
                            right: -5px;
                            .authorization-link {
                                a {
                                    text-transform: capitalize;
                                    display: block;
                                    color: #333333;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    
                }
                .customer-welcome + .authorization-link{
                    display: none;
                }
            }
            
             
            
        }
        .nav-menu {
            clear: none;
            display: inline-block;
            float: right;
            width: 55%;
            ul {
                float: none;
                display: inline-block;
                margin: 8px 0px 0px;
                &.ves-megamenu {
                    justify-content: space-between;
                    display: flex;
                }
                li {
                    padding: @menu-middle__space;
                    padding-bottom: 20px;
                    a{
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.13;
                        letter-spacing: normal;
                        text-align: left;
                        color: @menu-text__color;
                    }
                    &.level-top{
                        a.nav-anchor{
                            border: 0px;
                            padding-bottom: 30px;
                            &:after{
                                content: " ";
                                background: transparent;
                                height: 3px;
                                width: 20px;
                                display: block;
                                margin: 0px auto;
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 30px;
                            }
                        }
                    }
                    &.level-top:hover{
                        a.nav-anchor{
                            border: 0px;
                            padding-bottom: 30px;
                            &:after{
                                background: #5989ff;
                            }
                        }
                    }
                    .dropdown-menu {
                        width: @menu-dropdown__width;
                        top: 78px;
                        padding: 25px 40px;
                        background-color: @mega-dropdown__background-color;
                        left: auto;
                        right: -35%;
                        .megamenu-content{
                            h2.menu-item {
                                font-weight: bold;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.19;
                                letter-spacing: -0.18px;
                                text-align: left;
                                color: @submenu-title__text-color;
                                font-size: 16px;
                                text-transform: uppercase;
                                margin: 0px 0px 20px;
                            }
                            .left-mega-block {
                                padding: 0px;
                                .product-wrap {
                                    max-width: 239px;
                                    a{
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: 1.36;
                                        letter-spacing: normal;
                                        text-align: left;
                                        color: #1f1108;
                                        img{
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                            ul{
                                li{
                                    margin: 0 0 20px 0;
                                    a{
                                        font-size: 16px;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-stretch: normal;
                                        letter-spacing: normal;
                                        text-align: left;
                                        color: @submenu-link__text-color;
                                        text-transform: capitalize;
                                        border: 0px;
                                        &:hover{
                                            color: @submenu-link__text-hover-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /****** header bottom bar styling here ******/

        .header.bottom-content {
            background-color: @header-bottom__bar-background;
            margin: 0px;
            display: inline-block;
            width: 100%;
            text-align: center;
            line-height: 20px;
            padding: 12px;
            p{
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: @header-bottom__bar-text-color;
                margin: 0;
            }
        }
    }
}

/***** main header style end here **********/

/********* sticky header start here *******/

.page-wrapper {
    .page-header{
        &.sticky{
            .header.bottom-content, .panel.wrapper  {
                display: none;
            }
            .header.content {
                position: fixed;
                left: 0;
                right: 0;
                background: @header__background-color;
                top: 0px;
                
                .block-search{
                    margin-top: 10px;
                }
                .header.links{
                    margin-top: 10px;
                }
                .minicart-wrapper{
                    margin-top: 10px;
                }
            }
            .nav-menu {
                ul {
                    li {
                        padding-bottom: 0px;
                        margin-top: 12px;
                        .dropdown-menu {
                            top: 70px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1450px){
    .page-wrapper {
        .page-header {
            .nav-menu {
                ul{
                    li{
                        padding: 0 20px;
                        .dropdown-menu{
                            top: 70px;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1380px){
    .page-wrapper {
        .page-header {
            .panel.wrapper {
                .panel.header{
                    padding: 10px 20px;
                }
            }
            .header.content{
                padding: 10px 20px;
                padding-top: 23px;
                padding-bottom: 0px;
            }
             .nav-menu {
                ul{
                    li{
                        .dropdown-menu{
                            left: auto;
                            top: 70px;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 1310px){
    .page-wrapper {
        .page-header {
            .nav-menu {
                ul{
                    li{
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    .page-wrapper {
        .page-header {

            .nav-menu {
                ul{
                    li{
                        padding: 0 8px;
                        .dropdown-menu{
                                left: auto;
                            }
                    }
                }
            }
        }
    }
}

@media(max-width: 1050px){
    .page-wrapper {
        .page-header {
            .panel.wrapper {
                .panel.header{
                    padding: 10px 20px;
                }
            }
            .header.content{
                padding: 10px 20px;
                padding-top: 23px;
                padding-bottom: 0px;
                .block-search{
                    max-width: 250px;
                }

                .header.links{
                    margin: 0px 0px 0px 30px;
                }
                .logo {
                    width: 13%;
                    margin: -15px 0px;
                }
            }
             .nav-menu {
                ul{
                    li{
                        padding: 0px 10px;
                        a{
                            font-size: 14px;
                        }
                        .dropdown-menu{
                            width: 1020px;
                            top: 68px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 780px){
    .page-wrapper {
        .page-header {
            .panel.wrapper {
                .panel.header{
                    padding: 10px;
                    .panel-links {
                        padding: 0px 10px;
                        li{
                            margin-left: 15px;
                        }
                    }
                }
            }
            .header.content{
                .logo {
                    margin-left: 40px;
                    width: auto;
                    margin-top: -25px;
                }
                .block-search{
                    max-width: 330px;
                    margin-top: -10px;
                    width: 100%;
                }
                .header.links {
                        margin: 0px 25px 0px 20px;
                    }
                }
             .nav-menu {
                    top: 90%;
                    width: 95%;
                .menu-toggle-wrap {
                    color: #fff;
                    position: absolute;
                    top: -50px;
                    i{
                        font-size: 30px;
                        span{
                            display: none;
                        }
                    }
                }
                .nav-mobile{
                    display: none;
                }
                ul{
                    li{
                        padding: 0px 10px;
                        a{
                            font-size: 16px;
                            color: inherit;
                            padding: 15px 10px 10px;
                            .opener {
                                display: block;
                                padding: 15px;
                            }
                        }
                        &.level-top{
                            a.nav-anchor{
                                padding-bottom: 15px;
                            }
                        }
                        &.level-top{
                            &:hover {
                                a.nav-anchor{
                                    padding-bottom: 15px;
                                    &:after{
                                        display:none;
                                    }
                                }
                            }
                        }
                        .dropdown-menu{
                            width: 100%;
                            .content-wrap {
                                ul {
                                    li{
                                        border: 0px;
                                    }
                                }
                            }
                        }
                    }
                    &.ves-megamenu{
                        height: 100%;
                        display: none;
                        &.collapsed{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

/********* 
    Marico CSS Start
*******/


.page-wrapper {
    .page-header {
        .panel.wrapper {
            display: none;
        }
        .header.content {
            .logo {
                margin: 0px;
            }
            .minicart-wrapper, .header.links, .link.wishlist {
                display: none !important;
            }
        }
    }
}